<meta charset="utf-8">
<title>StrawShiro权限管理系统</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" th:href="@{/static/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
<link rel="stylesheet" th:href="@{/static/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
<link rel="stylesheet" th:href="@{/static/layuimini/css/public.css}" media="all">
<style>
    /* 重写样式 */
    .layui-colla-title {
        height: 30px;
        line-height: 30px;
    }

    .layui-colla-content {
        padding: 10px;
    }
</style>
